.dropdown-lang {
	background: none;
	position: relative;
	margin-right: 24px;
	cursor: pointer;
}

.dropdown-lang .dropdown-lang-content {
	background-color: white;
	border: solid 1px #f2f2f2;
	display: none;
	position: absolute;
	width: 210px;
	padding: 0;
	margin: 0;
	height: auto;
}

.dropdown-lang button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	height: 42px;
	width:84px;
	padding: 0 18px 0 18px;
	background: none;
	color: #cacaca;
	border: none;
}

.dropdown-lang button img {
	margin-left: 6px;
}

.dropdown-lang:hover .dropdown-lang-content {
	width: 150px;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dropdown-lang-lang-item {
	width: 85%;
	cursor: pointer;
	text-align: left;
}

.dropdown-lang-lang-item li {
	font-family: "Tamil Sangam MN";
	padding: 3px 0 3px 0;
	font-size: 14px;
	display: block;
	border: none;
	color: #999;
}

.dropdown-lang-lang-item hr {
	border: none;
	border-top: solid 1px #f2f2f2;
	display: block;
	width: 100%;
}

.dropdown-lang-lang-item:first-child {
	margin-top: 6px;
}

.dropdown-lang-lang-item:last-child {
	margin-bottom: 6px;
}

.dropdown-lang-lang-item:last-child hr {
	display: none;
}

.dropdown-lang li:hover {
	color: #43cb83;
}