.dropdown-lang {
	background: none;
	position: relative;
	margin-right: 24px;
}

.dropdown-lang .content {
	border: solid 1px #f2f2f2;
	display: none;
	position: absolute;
	width: auto;
	height: auto;
}

.dropdown-lang button {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 42px;
	padding: 0 18px 0 18px;
	background: none;
	color: gray;
	border: none;
}

.dropdown-lang button img {
	margin-left: 6px;
}

.dropdown-lang:hover .content {
	width: 150px;
	display: block;
	right: 0;
}

.dropdown-lang a {
	padding: 12px 16px;
	background-color: white;
	display: block;
	border: none;
	margin-left: 0;
	color: #c5c5c5;
	text-decoration: none;
}

.dropdown-lang a:hover {
	color: #43cb83;
}