.chat {
	width: 100%;
	height: 800px;
	background-color: #43cb83;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.chat-box {
	width: 420px;
	height: 600px;
	background-color: #f2f2f2;
	border: solid 1px #cacaca;
	padding: 12px;
}

.chat-content-name {
	position: absolute;
	width: 420px;
	height: 600px;
	background-color: #f2f2f2;
	opacity: 0.75;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.chat-content-name button {
	margin-top: 12px;
	height: 28px;
	width: 16%;
	background-color: #43cb83;
	color: white;
	border: solid 2px #43cb83;
	cursor: pointer;
	font-weight: bold;
}

.chat-content-name input {
	height: 24px;
	width: 80%;
}

.chat-box > .chat-content {
	width: 420px;
	height: 540px;
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
}

.chat-box > .chat-input {
	width: 100%;
	margin-top: 12px;
}

.chat-input input {
	height: 24px;
	width: 80%;
}

.chat-input button {
	margin-left: 12px;
	height: 28px;
	width: 16%;
	background-color: #43cb83;
	color: white;
	border: solid 2px #43cb83;
	cursor: pointer;
	font-weight: bold;
}

.chat-input button:hover {
	background-color: white;
	color: #43cb83;
}