.category {
	border-top: solid 1px orange;
	text-align: center;
	height: 500px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.category-item {
	margin: 0 20%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 60px;
	cursor: pointer;
	background-color: #dd4b39;
}

.category .test {
	margin: 0 20%;
	background-color: orange;
	width: 200px;
	height: 100px;
	-webkit-animation: test 3s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
	animation: test 3s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

@keyframes btn-rotate {
	from {transform: rotate(0)}
	to {transform: rotate(360deg)}
}

@-webkit-keyframes test {
	from {transform: rotateY(0); transform-origin: 100% 100%}
	to {transform: rotateY(-360deg); transform-origin: 100% 100%}
}

@keyframes test {
	from {transform: rotateY(0); transform-origin: 100% 100%}
	to {transform: rotateY(-360deg); transform-origin: 100% 100%}
}