.category {
	border-top: solid 1px orange;
	text-align: center;
	height: 500px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.category-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 120px;
	cursor: pointer;
	background-color: #dd4b39;
	border-radius: 50%;
	-webkit-animation: move-round 3s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
	animation: move-round 3s infinite cubic-bezier(0.5, 0.5, 0.5, 0.5);
}

@-webkit-keyframes move-round {
	from {left: 0}
	to {left: 1000px}
}

@keyframes move-round {
	from {left: 0}
	to {left: 1000px}
}