.btn-default {
	background-color: #43cb83;
	color: #fff;
	border: solid 2px #43cb83;
	padding: 13px 40px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: Poppins,sans-serif;
	line-height: 1.7em;
	cursor: pointer;
	-webkit-font-smoothing: auto;
}

.btn-default:hover {
	color: #43cb83;
	background-color: #fff;
}